- boot_win11:
    type = boot_win11
    # In this testcase you should change image_name & image format into correct format for windows guest.
    # Also you should change `display` parameter among (vnc, sdl, spice) according to your machine config
    # and comment `display` parameter in your avocado config file.
    display = "vnc"
    # Finally comment `only RHEL.9` and `only qcow2`, so as other similar parameter which limits
    # host os_variant or image type, add following contents to your avocado config file:
    # only Windows
    # only Win10
    # only raw
    virt_test_type = qemu
    vm_accelerator = kvm
    start_vm = no
    # Stop VM after testing
    kill_vm = yes
    vga = std
    auto_cpu_model = "no"
    cpu_model = host
