- cpu_model:
    type = cpu_model
    virt_test_type = qemu
    vm_accelerator = kvm
    start_vm = no
    # Stop VM after testing
    kill_vm = yes
    auto_cpu_model = no
    cpu_model = ""
    default_cpu_model = host
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    vga = std
    test_dir = '/home'
    source_file = 'cpuid_check.c'
    exec_file = 'cpuid_check'
    enable_check = yes
    variants:
        - default:
            # cpu model same with platform automatically
            enable_check = no
        - dmr:
            # To-add: APX
            cpu_model = DiamondRapids-v2
            check_host_cpuid = yes
            features = "AMX_COMPLEX AMX_FP8 AMX_TF32 AMX_AVX512 AMX_MOVRS MOVRS AVX10"
            cpuid = "24 0 0 0 b 16, 24 0 0 0 b 17, 24 0 0 0 b 18, 24 0 1 0 c 2, 24 0 0 0 b 0:7 2"
        - cwf:
            # To-add: NMIS
            cpu_model = ClearwaterForest-v1
            check_host_cpuid = yes
            features = "SHA512 SM3 SM4 AVX_VNNI_INT16 FRED LKGS"
        - srf:
            cpu_model = SierraForest-v6
            check_host_cpuid = yes
            features = "AVX_IFMA AVX_VNNI_INT8 AVX_NE_CONVERT CMPCCXADD LAM LASS"
        - srf_vmx:
            cpu_model = SierraForest-v6
            cpu_model_flags = ",+vmx"
            check_host_cpuid = yes
            features = "VMX"
        - gnr:
            cpu_model = GraniteRapids-v7
            check_host_cpuid = yes
            features = "AMX_FP16 PREFETCHI AVX10_1"
            cpuid = "24 0 0 0 b 16 1, 24 0 0 0 b 17 1, 24 0 0 0 b 18 1, 24 0 0 0 b 0:7 1"
        - gnr_vmx:
            cpu_model = GraniteRapids-v7
            cpu_model_flags = ",+vmx"
            check_host_cpuid = yes
            features = "VMX"
        - spr:
            cpu_model = SapphireRapids-v8
            check_host_cpuid = yes
            features = "AVX512_FP16 SERIALIZE TSXLDTRK AVX_VNNI AMX_BF16 AMX_INT8 AMX_TILE XFD MOVDIRI MOVDIR64B CLDEMOTE"
            cpuid = "1d 0 0 0 a 0:31 1, 1d 0 1 0 a 0:15 8192, 1d 0 1 0 a 16:31 1024, 1d 0 1 0 b 0:15 64, 1d 0 1 0 b 16:31 8, 1d 0 1 0 c 0:15 16, 1e 0 0 0 b 0:7 16, 1e 0 0 0 b 8:23 64, d 0 0x11 0 a 0:31 64, d 0 0x11 0 b 0:31 2752, d 0 0x11 0 c 0:0 0, d 0 0x11 0 c 1, d 0 0x11 0 c 2:2 0, d 0 0x12 0 a 0:31 8192, d 0 0x12 0 b 0:31 2816, d 0 0x12 0 c 0:0 0, d 0 0x12 0 c 1, d 0 0x12 0 c 2"
        - spr_vmx:
            cpu_model = SapphireRapids-v8
            cpu_model_flags = ",+vmx"
            check_host_cpuid = yes
            features = "VMX"
        - cooperlake_vmx:
            cpu_model = Cooperlake-v2
            cpu_model_flags = ",+vmx"
            check_host_cpuid = yes
            features = "VMX"
        - icx:
            cpu_model = Icelake-Server-v9
            check_host_cpuid = yes
            features = "UMIP GFNI VAES VPCLMULQDQ SHA_NI 5LP AVX512_IFMA AVX512_VBMI AVX512_VBMI2 AVX512_VNNI AVX512_BITALG"
        - broadwell:
            cpu_model = Broadwell-v4
            check_host_cpuid = yes
            features = "ADX"
        - cascadelake:
            cpu_model = Cascadelake-Server-v7
            cpu_model_flags = ",+vmx"
            check_host_cpuid = yes
            features = "AVX512_VNNI PKU ARCH_CAPABILITIES IBRS SSBD VMX"
            cpuid = "1 0 0 0 a 0:3 6"
        - skylake_server:
            cpu_model = Skylake-Server-v6
            check_host_cpuid = yes
            features = "AVX512_F"
