- cpu_aia:
    type = cpu_aia
    virt_test_type = qemu
    vm_accelerator = kvm
    # Don't create/remove guest images
    force_create_image = no
    remove_image = no
    start_vm = no
    # Stop VM after testing
    kill_vm = yes
    shell_prompt = "^\[.*\][\#\$]\s*$"
    vga = std
    auto_cpu_model = "no"
    cpu_model = host
    variants:
        - waitpkg:
            test_command = "tpause umwait umonitor"
        - movdir64b:
            test_command = "movdir64b"
        - movdiri:
            test_command = "movdiri"
