- host_cpu_offline_online:
    type = host_cpu_offline_online
    virt_test_type = qemu
    vm_accelerator = kvm
    # Automatically start VM
    start_vm = yes
    # Stop VM after testing
    kill_vm = yes
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    variants:
        - vm:
        - tdvm:
            machine_type_extra_params = "kernel-irqchip=split"
            vm_secure_guest_type = tdx
            auto_cpu_model = "no"
            cpu_model = host
