- kvm_memory_hotplug:
    type = kvm_memory_hotplug
    virt_test_type = qemu
    vm_accelerator = kvm
    start_vm = no
    # Stop VM after testing
    kill_vm = yes
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    vga = std
    target_mems = "plug1"
    slots_mem = 1
    maxmem_mem = 8G
    variants:
        - 1G:
            size_mem_plug1 = 1G
