- live_migration:
    virt_test_type = qemu
    vm_accelerator = kvm
    start_vm = yes
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    image_snapshot = no
    vga = std
    auto_cpu_model = "no"
    cpu_model = host
    migration_test_command = help
    migration_bg_command = cd /tmp && nohup ping localhost > /dev/null 2>&1 &
    migration_bg_check_command = pgrep ping
    migration_bg_kill_command = pkill -9 ping
    login_timeout = 360
    mig_timeout = 300
    migration_protocol = tcp
    variants:
        - vm_1vcpu_lm:
            type = live_migration_repeat
            smp = 1
            vcpu_maxcpus = 1
            migration_iterations = 1
            iteration_sleep_time = 0
        - vm_2vcpu_lm:
            type = live_migration_repeat
            smp = 2
            vcpu_maxcpus = 2
            migration_iterations = 1
            iteration_sleep_time = 0
        - vm_4vcpu_lm:
            type = live_migration_repeat
            smp = 4
            vcpu_maxcpus = 4
            migration_iterations = 1
            iteration_sleep_time = 0
        - vm_8vcpu_lm:
            type = live_migration_repeat
            smp = 8
            vcpu_maxcpus = 8
            migration_iterations = 1
            iteration_sleep_time = 0
        - vm_lm_2times:
            type = live_migration_repeat
            smp = 4
            vcpu_maxcpus = 4
            migration_iterations = 2
            iteration_sleep_time = 0
        - vm_stress_local_lm:
            type = live_migration_repeat
            smp = 4
            vcpu_maxcpus = 4
            migration_iterations = 10
            iteration_sleep_time = 5
        - cpu_flag_after_lm:
            type = live_migration_verify
            smp = 4
            vcpu_maxcpus = 4
            verify_target = cpu_flags
        - cpuid_after_lm:
            type = live_migration_verify
            smp = 4
            vcpu_maxcpus = 4
            verify_target = cpuid
            cpuid_dump_cmd = cpuid -1 -r
        - cpu_num_after_lm:
            type = live_migration_verify
            smp = 4
            vcpu_maxcpus = 4
            verify_target = cpu_num
        - mem_size_after_lm:
            type = live_migration_verify
            smp = 4
            vcpu_maxcpus = 4
            verify_target = mem_size
        - time_test_after_lm:
            type = live_migration_verify
            smp = 4
            vcpu_maxcpus = 4
            verify_target = time
            drift_threshold = 10
        - vm_lm_continuity:
            type = live_migration_verify
            smp = 4
            vcpu_maxcpus = 4
            verify_target = continuity
            continuity_cmd = cat /dev/urandom > /dev/null
            continuity_check_cmd = pgrep -f "cat /dev/urandom"
        - srf_lm:
            type = live_migration_repeat
            cpu_model = SierraForest-v6
            smp = 4
            vcpu_maxcpus = 4
            migration_iterations = 1
            iteration_sleep_time = 0
        - gnr_lm:
            type = live_migration_repeat
            cpu_model = GraniteRapids-v7
            smp = 4
            vcpu_maxcpus = 4
            migration_iterations = 1
            iteration_sleep_time = 0
        - spr_lm:
            type = live_migration_repeat
            cpu_model = SapphireRapids-v8
            smp = 4
            vcpu_maxcpus = 4
            migration_iterations = 1
            iteration_sleep_time = 0
        - cascadelake_lm:
            type = live_migration_repeat
            cpu_model = Cascadelake-Server-v7
            smp = 4
            vcpu_maxcpus = 4
            migration_iterations = 1
            iteration_sleep_time = 0
