- mce_hmp:
    type = mce_hmp
    virt_test_type = qemu
    vm_accelerator = kvm
    start_vm = no
    kill_vm = yes
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    vga = std
    auto_cpu_model = "no"
    cpu_model = host
    smp = 4
    login_timeout = 240
    # Source used by SRAR to allocate a target guest page.
    test_dir = "/tmp"
    source_file = "victim.c"
    exec_file = "victim"
    variants:
        - sanity_lmce_off:
            lmce_state = off
            lmce_action = check
            cpu_model_flags = ",lmce=off"
        - sanity_lmce_on:
            lmce_state = on
            lmce_action = check
            cpu_model_flags = ",lmce=on"
        - srao_lmce_off:
            lmce_state = off
            lmce_action = srao
            cpu_model_flags = ",lmce=off"
        - srao_lmce_on:
            lmce_state = on
            lmce_action = srao
            cpu_model_flags = ",lmce=on"
        - srar_lmce_on:
            lmce_state = on
            lmce_action = srar
            cpu_model_flags = ",lmce=on"
