- mce_einj:
    no Windows
    type = mce_einj
    virt_test_type = qemu
    vm_accelerator = kvm
    start_vm = yes
    kill_vm = yes
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    auto_cpu_model = "no"
    cpu_model = host
    test_dir = '/tmp'
    source_file = 'victim.c'
    exec_file = 'victim'
    variants:
        - srao_lmce_off:
            error_type = "0x10"
        - srao_lmce_on:
            error_type = "0x10"
            cpu_model_flags = ",lmce=on"
            lmce_state = "on"
        - srar_lmce_on:
            error_type = "0x10"
            cpu_model_flags = ",lmce=on"
            lmce_state = "on"
