- tdx_cpuoff_pinedVMdown:
    type = tdx_cpuoff_pinedVMdown
    virt_test_type = qemu
    machine_type_extra_params = "kernel-irqchip=split"
    vm_secure_guest_type = tdx
    # Don't create/remove guest images
    start_vm = no
    # Stop VM after testing
    kill_vm = yes
    auto_cpu_model = "no"
    cpu_model = host
    guest_flags = "tdx_guest"
    hkid = "hkid"
    tdx_crash_flag = "0x8000070100000000"
