- tdx_memory_confident:
    type = tdx_memory_confident
    virt_test_type = qemu
    # Too large memory will lead to python asyncio exception.
    mem = 1024
    machine_type_extra_params = "kernel-irqchip=split"
    # Don't create/remove guest images
    start_vm = no
    # Stop VM after testing
    kill_vm = yes
    auto_cpu_model = "no"
    cpu_model = host
    dump_memory_path = "/tmp/memory-dump"
