- tdx_hdevents_in5sec:
    type = tdx_hdevents_in5sec
    virt_test_type = qemu
    vm_accelerator = kvm
    machine_type_extra_params = "kernel-irqchip=split"
    vm_secure_guest_type = tdx
    start_vm = no
    kill_vm = yes
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    vga = std
    auto_cpu_model = "no"
    cpu_model = host
    cpu_model_flags = ",pmu=on"
    perf_events = "cache-misses,instructions,branch-misses,bus-cycles,branch-instructions,L1-dcache-loads"
    perf_duration = 5
    perf_expected_output = "Performance counter stats"
    pre_command = "echo 0 > /proc/sys/kernel/nmi_watchdog && modprobe -r kvm_intel && modprobe kvm_intel enable_mediated_pmu=Y"
    post_command = "echo 1 > /proc/sys/kernel/nmi_watchdog && modprobe -r kvm_intel && modprobe kvm_intel"
    post_command_noncritical = yes
