- tdx_QGS_socket:
    type = tdx_QGS_socket
    virt_test_type = qemu
    vm_accelerator = kvm
    machine_type_extra_params = "kernel-irqchip=split"
    vm_secure_guest_type = tdx
    vm_secure_guest_object_options = "quote-generation-socket.type=vsock quote-generation-socket.cid=2 quote-generation-socket.port=4050"
    qemu_cmdline_format_cfg = string:{"secure_guest":{"object": "json"}}
    start_vm = no
    kill_vm = yes
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    vga = std
    auto_cpu_model = "no"
    cpu_model = host
    tsm_report_dir = "/sys/kernel/config/tsm/report/report0"
