- tdx_ve_reduction:
    type = tdx_ve_reduction
    virt_test_type = qemu
    vm_accelerator = kvm
    machine_type_extra_params = "kernel-irqchip=split"
    vm_secure_guest_type = tdx
    start_vm = no
    kill_vm = yes
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    auto_cpu_model = "no"
    cpu_model = host
    deps_subdir = "tdx_ve_reduction"
    tdx_compliance_src_subdir = "tdx-compliance"
    guest_test_dir = "/root/tdx-ve-reduction"
    case_action = compliance
    variants:
        - tdx_ve_enabled:
            case_action = ve_check

        - tdx_ve_cpuid_default:
            caselist = tdx_cpuid_default.h

        - tdx_ve_cpuid_cpu_tp1:
            caselist = tdx_cpuid_tp1.h
            smp = 16
            vcpu_sockets = 1
            vcpu_dies = 2
            vcpu_threads = 2
            vcpu_cores = 4
            cpu_pin = 0

        - tdx_ve_cpuid_cpu_tp2:
            caselist = tdx_cpuid_tp2.h
            smp = 12
            vcpu_sockets = 1
            vcpu_threads = 3
            vcpu_cores = 4
            cpu_pin = 11

        - tdx_ve_cpuid_cpu_tp3:
            caselist = tdx_cpuid_tp3.h
            smp = 48
            vcpu_sockets = 2
            vcpu_dies = 2
            vcpu_threads = 3
            vcpu_cores = 4
            cpu_pin = 47

        - tdx_ve_back_feature_off:
            caselist = tdx_cpuid_back_feature_off.h
            cpu_model_flags = ",-est,-tsc-deadline,-mce,-mtrr,-mca,-acpi,-core-capability,-dca"

        - tdx_ve_back_feature_on:
            caselist = tdx_cpuid_back_feature_on.h
            cpu_model_flags = ",+est,+tsc-deadline,+mce,+mtrr,+mca,+acpi,+core-capability,+dca"

        - tdx_ve_back_feature_on_ve:
            case_action = compliance_ve_series
            ve_case_headers = "tdx_cpuid_ve1.h tdx_cpuid_ve2.h tdx_cpuid_ve3.h tdx_cpuid_ve4.h tdx_cpuid_ve5.h tdx_cpuid_ve6.h"
            cpu_model_flags = ",+est,+tsc-deadline,+mce,+mtrr,+mca,+acpi,+core-capability,+dca"

        - tdx_ve_ctls_feature_off:
            caselist = tdx_cpuid_ctls_feature_off.h
            cpu_model_flags = ",-est,-tsc-deadline,-mce,-mtrr,-mca,-acpi,-core-capability,-dca"

        - tdx_ve_ctls_feature_on:
            caselist = tdx_cpuid_ctls_feature_on.h
            cpu_model_flags = ",+est,+tsc-deadline,+mce,+mtrr,+mca,+acpi,+core-capability,+dca"
