- vcpu_boot:
    type = vcpu_boot
    virt_test_type = qemu
    vm_accelerator = kvm
    start_vm = no
    kill_vm = yes
    auto_cpu_model = "no"
    cpu_model = host
    machine_type = q35
    machine_type_extra_params = "kernel-irqchip=split"
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    variants:
        - vm_incr_vcpu:
