- vcpu_hotplug:
    type = vcpu_hotplug
    virt_test_type = qemu
    vm_accelerator = kvm
    start_vm = no
    kill_vm = yes
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    vga = std
    smp = 4
    vcpus_count = 1
    vcpu_sockets = 1
    vcpu_threads = 1
    login_timeout = 240
    verify_wait_timeout = 60
    variants:
        - vcpu_hot_add:
            vcpu_action = hot_add
            vcpu_devices = vcpu1
            vcpu_maxcpus = 5
            vcpu_cores = 5
        - vcpu_hot_remove:
            vcpu_action = hot_remove
            vcpu_devices = vcpu1
            vcpu_maxcpus = 5
            vcpu_cores = 5
        - vcpu_repeat_hotplug:
            vcpu_action = repeat_hotplug
            vcpu_iterations = 15
            vcpu_devices = vcpu1
            vcpu_maxcpus = 5
            vcpu_cores = 5
        - vcpu_multiple_hotplug:
            vcpu_action = multiple_hotplug
            vcpu_devices = "vcpu1 vcpu2 vcpu3 vcpu4 vcpu5 vcpu6 vcpu7 vcpu8 vcpu9 vcpu10 vcpu11 vcpu12 vcpu13 vcpu14 vcpu15"
            vcpu_maxcpus = 19
            vcpu_cores = 19
