- vm_save_restore:
    type = vm_save_restore
    start_vm = no
    # Default value for centos image, you can overwrite it in runtime cfg for other OS image.
    shell_prompt = "^\[.*\][\#\$]\s*$"
    auto_cpu_model = "no"
    cpu_model = host
    image_snapshot = yes
    vga = std
    sr_iterations = 1
    sr_check = none
    sr_timeout = 600
    variants:
        - vm_1vcpu_sr:
            smp = 1
            vcpu_maxcpus = 1
        - vm_2vcpu_sr:
            smp = 2
            vcpu_maxcpus = 2
        - vm_4vcpu_sr:
            smp = 4
            vcpu_maxcpus = 4
        - vm_8vcpu_sr:
            smp = 8
            vcpu_maxcpus = 8
        - vm_sr_2times:
            sr_iterations = 2
        - cpu_num_after_sr:
            sr_check = cpu_num
        - cpu_flag_after_sr:
            sr_check = cpu_flag
        - mem_size_after_sr:
            sr_check = mem_size
        - time_test_after_sr:
            sr_check = time_diff
            time_drift_threshold = 60
        - vm_sr_continuity:
            sr_check = continuity
        - vm_sr_avx:
            sr_check = avx
