name: Pull Request
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

jobs:
  CodeCheck:
    runs-on: ubuntu-latest
    container: hanning0511/lkvs-pr-check:latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check Code
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          pr_check "origin/${{ github.base_ref }}" "${{ github.sha }}"
      - name: Report Job Status
        run: echo "Job's status is ${{ job.status }}."
